@media only screen and (min-width: 600px) {
    .tdata{
        margin-left: 10%;
        margin-right: 10%;
    }
    .fs{
        margin-right: 100px;
    }
    #about{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
}
@media only screen and (max-width: 600px){
    /* .form-control {
        width: 50%;
    } */
}
tr, th{
    vertical-align: middle;
    /* text-align: center; */
}
tr:hover {
    background-color: #cdb2ff;
    color: black;
}
th:hover{
    color: black;
}
a:hover{
    color: black;
}
h2{
    color: rgb(153, 0, 153);
}

.form-check-input:checked {
    background-color: #cdb2ff;
    border-color: #4b415d;
    color: #4b415d;
}
.form-check-input{
    background-color: #cdb2ff;
    border-color: #4b415d;
}
.form-control{
    background-color: #d0bdf4;
    border: 1px solid #4f555c;
}
