/* .navbar{
    background-color: #8458B3;
    color: #8458B3;    
}
.container-fluid{
    background-color: #8458B3;
}
.navb{
    color: #8458B3;    
    background-color: #8458B3;
}
.colp{
    background-color: #8458B3;
} */